* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Dited;
  src: url(./fonts/Dited.otf);
}

body{
  background-color: black;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pacman {
  height: 100px;
  width: 100px;
  position: relative;
  margin: auto;
}

.pacman__item1 {
  position: absolute;
  height: 50%;
  width: 100%;
  overflow: hidden;
  animation: pacman1 1s infinite alternate-reverse;
  transform-origin: center bottom;
}
.pacman__item1::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 200%;
  background-color: yellow;
  border-radius: 50% 50% 0 0;
}
.pacman__item1::after{
  position: absolute;
  content: '';
  left: 70%;
  top: 50%;
  width: 10%;
  height: 20%;
  background-color: black;
  border-radius: 50%;
}
.pacman__item2 {
  position: absolute;
  height: 50%;
  width: 100%;
  overflow: hidden;
  animation: pacman2 1s infinite alternate-reverse;
  transform-origin: center bottom;
}
.pacman__item2::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 200%;
  background-color: yellow;
  border-radius: 50% 50% 0 0;
}
.message{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Dited;
  font-size: 60px;
  word-wrap: break-word;
  list-style: none;
  position: relative;
}
.message:hover{
  background-color: rgba(104, 29, 179, 0.431);
}
.footer{
  color: white;
  text-align: center;
  font-size: 60px;
}
.label {
  color: white;
  word-wrap: break-word;
  width: 70%;
  height: 100%;
  position: relative;
  transition: 1s;
}
.completed__all{
  color: white;
  height: 20px;
  width: 20px;
  background-color: aqua;
}
.item-checkbox {
  display: block;
  width: 40px;
  height: 40px;
  visibility: hidden;
  position: relative;
  left: -25px;
}
.item-checkbox::after{
  visibility: visible;
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  border: 2px solid white;
}

.item-checkbox:checked::after{
  background-image: url(https://cdn.icon-icons.com/icons2/665/PNG/512/alien_pixel_icon-icons.com_60289.png);
  background-size: cover;
}

@keyframes pacman1{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@keyframes pacman2{
  from{
    transform: rotate(180deg);
  }
  to {
    transform: rotate(225deg);
  }
}

.header__input {
  display: block;
  margin: auto;
  font-size: 30px;
  padding: 20px;
  background-color: #F1F1F1;
  border: 2px solid #F1F1F1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.header__input:focus {
  outline: none;
}

.main{
  margin: auto;
  width: 409px;
  border: 2px solid #F1F1F1;
  background-image: url(https://img2.goodfon.ru/original/800x480/6/a1/8bit-vremya-sutki-noch-more-2339.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.footer{
  width: 409px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #F1F1F1;
}

.button{
  font-size: 30px;
  border-left: 2px solid #F1F1F1;
  text-align: center;
}

.completed{
  color: grey;
  text-decoration: line-through;
  transition: 1s;
}

.input-block {
  display: none;
}

.delete-button{
  display: none;
}

.delete-button__view {
  position: absolute;
  display: block;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url(https://c7.uihere.com/files/938/164/21/computer-icons-error-message-http-404-dialog-box-wrong-thumb.jpg);
  background-size: cover;
  opacity: 0.3;
  transition: opacity .3s;
}
.delete-button__view:hover{
  opacity: 1;
}

.edit {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  flex: 1;
}

.toggle-all{
  width: 40px;
  height: 30px;
  position: absolute;
  top: -32px;
  left: 15px;
  visibility: hidden;
}
.toggle-all::after{
  position: absolute;
  background-image: url(http://www.clipartbest.com/cliparts/di8/pRL/di8pRL8XT.png);
  background-size: cover;
  content: '';
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: .5;
}

.toggle-all:checked::after{
  opacity: 1;
}

.list{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
